@font-face {
  font-family: "Stanley marinade";
  src: url("../fonts/Stanley-Regular-Marinade.woff2") format("woff2"),
    url("../fonts/Stanley-Regular-Marinade.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Stanley marinade";
  src: url("../fonts/Stanley-Italic-Marinade.woff2") format("woff2"),
    url("../fonts/Stanley-Italic-Marinade.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

:root {
  --gold: #ffe300;
  --orange: #ffaf00;
  --dark-turquoise: #5edee7;
  --2-0: #2d69c0;
  --olive-drab: #82a74b;
  --green-yellow: #caff50;
  --steel-blue: #2e87ad;
  --dark-orange: #e08300;
}

.footer {
  z-index: 50;
  margin-bottom: 2.08vw;
  margin-left: 2.08vw;
  margin-right: 2.08vw;
  position: fixed;
  inset: auto 0% 0%;
}

.h1 {
  color: #000;
  margin-top: 0;
  font-family: "Stanley marinade", serif;
  font-size: 3.33vw;
  font-weight: 400;
  line-height: 4.166vw;
}

.issue-title-div {
  z-index: 5;
  margin-top: 0;
  padding-left: 38vw;
  display: flex;
  position: relative;
}

.issue-text-div {
  z-index: 5;
  position: relative;
}

.tabs {
  background-color: #0000;
  padding-top: 1.8vw;
  padding-left: 2.08vw;
  padding-right: 2.08vw;
}

.link-div {
  z-index: 100;
  margin-top: 0;
  padding-left: 8vw;
  display: block;
  position: relative;
}

.tabs-menu {
  padding-left: 200px;
}

.tabs-menu.h1 {
  z-index: auto;
  color: #000;
  padding-left: 22vw;
  display: block;
}

.issue-div {
  z-index: 50;
  padding-top: 1.8vw;
  padding-left: 2.08vw;
  font-style: italic;
  position: absolute;
}

.tab-link {
  z-index: 100;
  color: #000;
  background-color: #0000;
  margin-right: .5vw;
  padding: 0;
}

.tab-link:hover {
  border-bottom: 2px solid #000;
  font-family: "Stanley marinade", serif;
  font-style: italic;
}

.tab-link.w--current {
  background-color: #0000;
  border-bottom: 2px solid #000;
  padding-bottom: 0;
  font-style: italic;
  font-weight: 400;
}

.paragraph {
  color: #000;
  font-family: "Stanley marinade", serif;
  font-size: 1.25vw;
  line-height: 1.56vw;
}

.body {
  background-color: #000;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.tabs-content {
  display: block;
  position: relative;
  top: -4.3vw;
  overflow: hidden;
}

.tab-pane {
  position: relative;
}

._02 {
  color: #000;
  border-bottom: 2px solid #000;
  font-style: normal;
  text-decoration: none;
}

._02:hover {
  font-style: italic;
}

.footer-bio {
  width: 100%;
  max-width: 50vw;
  padding-left: 7.986vw;
}

.footer-copyright {
  align-items: flex-start;
  display: inline-block;
  position: fixed;
  inset: auto 8px 51px auto;
  transform: rotate(-90deg);
}

.issue-cover-div {
  z-index: 1;
  width: 100vw;
  height: 100vh;
  position: fixed;
  inset: 0%;
}

.div-block {
  display: flex;
}

.div-block-2 {
  background-color: red;
  border-radius: 100%;
  width: 50%;
  height: 50vh;
  transition: width .2s, border-radius .2s, background-color .2s;
}

.div-block-2:hover {
  background-color: #006fff;
  border-radius: 25%;
  width: 100%;
}

.letter-container-inner {
  width: 25%;
  height: 100%;
  padding: 10px;
  transition: width .2s;
}

.letter-container-inner:hover {
  width: 60%;
}

.letter-container {
  height: 50vh;
  transition: height .2s;
  display: flex;
}

.letter-container.top {
  width: 100%;
  padding: 10px 10px 0;
}

.letter-container.bottom {
  width: 100%;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.image {
  width: 100%;
  height: 100%;
}

.image.test {
  transform: rotate(0);
}

._1-outer {
  background-color: var(--gold);
  width: 100%;
  height: 100%;
}

.div-block-3 {
  background-color: var(--gold);
  width: 100vw;
  height: 100vh;
}

.div-block-4 {
  background-color: var(--orange);
  border-radius: 50% 50% 0 0;
  flex: 1;
  align-self: flex-end;
  height: 100vh;
  display: flex;
}

.div-block-5 {
  justify-content: space-between;
  width: 100vw;
  display: flex;
}

.div-block-6 {
  align-self: flex-end;
  width: 5vw;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.div-block-7 {
  align-self: flex-end;
  align-items: flex-end;
  width: 5vw;
  height: 100vh;
  display: flex;
}

.div-block-8 {
  background-color: var(--orange);
  align-self: flex-end;
  width: 100%;
  height: 5vh;
}

.div-block-10 {
  background-color: var(--gold);
  align-self: flex-end;
  width: 100%;
  height: 50vh;
}

.div-block-11 {
  background-color: var(--dark-turquoise);
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  display: flex;
}

.div-block-12 {
  perspective: 157px;
  width: 33vw;
  height: 100vh;
  display: flex;
  transform: perspective(137px);
}

.image-2 {
  align-self: center;
  transform: perspective(20px)perspective(59px);
}

.utility-page-wrap {
  background-color: #fff;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  display: flex;
}

.utility-page-content {
  text-align: center;
  flex-direction: column;
  display: flex;
}

.body-2 {
  background-color: #fab42c;
}

.html-embed {
  width: 100%;
  height: 100%;
}

.issue-cover-div-2 {
  z-index: 99;
  cursor: default;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  display: block;
  position: fixed;
}

.flex-wrapper {
  cursor: default;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  display: flex;
}

.stutter-item {
  text-align: center;
  text-transform: uppercase;
  cursor: default;
  border-bottom: 2px solid #fff6;
  width: 100vw;
  height: 100vh;
  padding-top: .2em;
  text-decoration: none;
}

.stutter-image {
  z-index: 2;
  filter: blur(5px);
  cursor: default;
  mix-blend-mode: multiply;
  height: auto;
  display: none;
  position: absolute;
}

.html-embed-2 {
  z-index: -1;
  background-color: var(--2-0);
  cursor: default;
  width: 100vw;
  height: 100vh;
  position: fixed;
  inset: 0%;
}

.body-3 {
  background-color: #3b569f;
}

.h1-2 {
  color: #000;
  font-size: 3.33vw;
  font-weight: 400;
  line-height: 4.166vw;
}

._1-outer-2 {
  background-color: #ffe300;
  width: 100%;
  height: 100%;
}

.tab-link-2 {
  color: #000;
  background-color: #0000;
  margin-right: .5vw;
  padding: 0;
}

.tab-link-2:hover {
  border-bottom: 2px solid #000;
  font-style: italic;
}

.tab-link-2.w--current {
  background-color: #0000;
  border-bottom: 2px solid #000;
  font-style: italic;
  font-weight: 400;
}

.tab-link-tab-2 {
  background-color: #0000;
}

.tab-link-tab-2-2 {
  background-color: #0000;
  margin-right: .5vw;
  padding: 0;
  text-decoration: none;
  bottom: 0;
}

.tab-link-tab-2-2.w--current {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  color: #000;
  background-color: #0000;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: inline-block;
}

.tab-link-tab-2-2.tab-link.w--current {
  z-index: auto;
}

.text-block {
  color: #000;
  object-fit: fill;
  border-radius: 0;
  margin-right: 0;
  text-decoration: none;
  position: static;
}

.text-block-2 {
  text-decoration: none;
  display: block;
}

.mobile-bac {
  display: none;
}

.div-block-14 {
  z-index: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  inset: 0%;
}

.code-embed {
  background-color: #c2f38e;
  position: fixed;
  inset: 0%;
}

.tab-pane-tab {
  background-color: #a2626200;
  border: 1px solid #20202000;
}

.tab-link-tab-3 {
  z-index: 100;
  background-color: #c8c8c805;
  padding: 0;
}

.tab-link-tab-3.w--current {
  z-index: 100;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  background-color: #0000;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  padding: 0;
  text-decoration: none;
  display: inline-block;
  bottom: 0;
}

.italic-text-2 {
  font-style: normal;
}

@media screen and (min-width: 1440px) {
  .h1 {
    font-size: 2.8vw;
    line-height: 3.3vw;
    display: block;
  }

  .issue-title-div {
    padding-left: 31vw;
  }

  .tabs {
    padding-top: 1.2vw;
  }

  .tabs-menu.h1 {
    padding-left: 18.5vw;
  }

  .issue-div {
    padding-top: 1.2vw;
  }

  .paragraph {
    font-size: 1vw;
    line-height: 1.3vw;
  }

  .body {
    background-color: #fff;
  }

  .tabs-content {
    top: -3.4vw;
  }

  .footer-bio {
    max-width: 42vw;
  }

  .issue-cover-div {
    background-color: var(--gold);
  }

  .html-embed-2 {
    background-color: var(--2-0);
  }

  .h1-2 {
    font-size: 2.8vw;
    line-height: 3.3vw;
  }

  .text-block {
    color: #000;
  }

  .div-block-13 {
    background-color: #3b569f;
    width: 100vw;
    height: 100vh;
    padding-bottom: 0;
    padding-right: 0;
  }

  .code-embed {
    transition: opacity .175s;
  }

  .tab-link-tab-3.w--current {
    border-bottom: 2px solid #000;
    font-style: italic;
  }

  .italic-text {
    vertical-align: top;
    display: inline;
  }
}

@media screen and (max-width: 991px) {
  .tabs-menu.h1 {
    z-index: 100;
  }

  ._02 {
    text-decoration: none;
  }

  .footer-copyright {
    margin-top: 2.5vw;
    margin-left: 0;
    padding-left: 7.986vw;
    position: static;
    transform: none;
  }

  .html-embed-2 {
    background-color: var(--2-0);
  }

  .mobile-bac {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    margin-bottom: 0;
    padding-top: 10vw;
    position: relative;
  }

  .h1 {
    font-size: 5vw;
    line-height: 6vw;
  }

  .issue-title-div, .link-div {
    padding-left: 12.5vw;
  }

  .tabs-menu.h1 {
    padding-left: 33vw;
  }

  .tab-link {
    margin-right: 6px;
  }

  .paragraph {
    font-size: 2vw;
    line-height: 2.5vw;
  }

  .tabs-content {
    top: 0;
  }

  .footer-bio {
    max-width: 80vw;
    padding-left: 12.5vw;
  }

  .footer-copyright {
    padding-left: 12.5vw;
  }

  .html-embed-2 {
    background-color: var(--2-0);
  }

  .h1-2 {
    font-size: 5vw;
    line-height: 6vw;
  }

  .tab-link-2 {
    margin-right: 6px;
  }
}

@media screen and (max-width: 479px) {
  .footer {
    padding-top: 15vw;
  }

  .h1 {
    font-size: 7vw;
    line-height: 8.5vw;
  }

  .tabs-menu.h1 {
    margin-top: 0;
    padding-left: 46vw;
  }

  .tab-link {
    display: inline-block;
  }

  .paragraph {
    font-size: 3vw;
    line-height: 3.5vw;
  }

  ._02 {
    display: inline-block;
  }

  .footer-bio {
    max-width: 93vw;
  }

  .stutter-image {
    z-index: auto;
  }

  .html-embed-2 {
    background-color: var(--2-0);
  }

  .h1-2 {
    font-size: 7vw;
    line-height: 8.5vw;
  }

  .tab-link-2 {
    display: inline-block;
  }

  .text-block-2 {
    flex-direction: row;
    display: inline-block;
  }

  .mobile-bac {
    height: auto;
    padding-bottom: 0;
    padding-right: 0;
    display: none;
    position: fixed;
    inset: 0% auto auto 0%;
  }

  .image-3 {
    max-width: none;
    height: auto;
    max-height: none;
    padding-left: 0;
  }
}


